</main>
<footer>
    <div class="container">
        <!-- <p>Powered by MangaDex API &copy; <%= new Date().getFullYear() %></p> -->
        <p>ANIMANGA. All Rights Reserved. &copy; <%= new Date().getFullYear() %></p>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>